node_modules
npm-debug.log
yarn-error.log
.pnpm-store
coverage
dist
build
.android
.ios
.android-sdk
secret-view-haven
**/.DS_Store
**/.env
**/.env.*
.git
.github
.vscode
**/playwright-report
**/test-results
**/.cache
**/.turbo
